#header{
    background: #000;
    color:#fff;
    padding:10px;
    p{
        color:red
    }
    .hide{
        display: none;
    }

    //mobile

@media only screen and (max-width: 600px) {
    .hide{
        display: block;
    }
  }
}




