.nav-tabs .nav-link {
    border: none;
    color: black !important
}
.activeTabClass{
    border-bottom: 2px solid #00a3bd;
}
.marginLeft10{
margin-left: 10px;
}
.selectedTabFilter{
    background: #444;
    border-radius: 11px;
    color: white;
}